#regla para evitar uso de .php 
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(,*)$ $1.php


#General
RewriteRule ^login$ Php/Login.php [L]
RewriteRule ^cerrar$ Php/CerrarSesion.php [L]
RewriteRule ^validar$ Php/validar.php [L]
RewriteRule ^cambiar$ Php/cambiar.php [L]

#Admin
RewriteRule ^admin$ Php/Admin/Admin.php [L]
RewriteRule ^addAsesores$ Php/AddAsesores.php [L]
RewriteRule ^agregar$ Php/Admin/AddAlumnos.php [L]
RewriteRule ^AgregarAsesores$ Php/Admin/AgregarA.php [L]
RewriteRule ^VerAsesoresA$ Php/Admin/VerAsesoresA.php [L]
RewriteRule ^registro$ Php/Admin/registro.php [L]
RewriteRule ^VerAlumnosA$ Php/Admin/VerAlumnosA.php [L]
RewriteRule ^registrar$ Php/Admin/registrarAlumnosA.php [L]
RewriteRule ^settings$ Php/Admin/settingsA.php [L]


#Alumnos
RewriteRule ^inicio$ Php/User/inicio.php [L]
RewriteRule ^encuesta$ Php/encuesta.php [L]
RewriteRule ^VerAsesores$ Php/User/VerAsesores.php [L]
RewriteRule ^subirControl$ Php/User/SubirControlySeguimiento.php [L]
RewriteRule ^subirAvance$ Php/User/SubirReporteAvance.php [L]
RewriteRule ^subirReporteFinal$ Php/User/SubirReporteFinal.php [L]
RewriteRule ^SubirEntrevista$ Php/User/SubirEntrevista.php [L]
RewriteRule ^SubirContrato$ Php/User/SubirContrato.php [L]


#Maestro
RewriteRule ^maestro$ Php/Maestro/Maestro.php [L]
RewriteRule ^navbarM$ Php/Maestro/navbarM.php [L]
RewriteRule ^VerAlumnosM$ Php/Maestro/VerAlumnosM.php [L]
RewriteRule ^VerAsesoresM$ Php/Maestro/VerAsesoresM.php [L]













